*{
    padding:0;
    margin:0;
    user-select: none;
}
#start{
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    width: 100vw;
    height: 100vh;
    font-family: 'Caveat', cursive;
    font-size: 8vw;
    color: #563904;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#start button{
    font-family: 'Caveat', cursive;
    background: transparent;
    border: 0;
    font-size: 3vw;
    transform: translate(10px, -10vw);
}
body{
    display: flex;
    position: relative;
    width:100%;
    height: 100%;
    margin:auto 0;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    background-image: url(./img/2833188.jpg);
    background-size: contain;
    background-size: 100vw 90vh;
}
#gamediv{
    width: 80vw;
    height: 44vw;
    background-color: black;
    display: none;
    position: absolute;
    overflow: hidden;
    margin: 0 10vw;
    
}
#idcloud{
    position: absolute;
    left: 0;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: chocolate;
    z-index: 1;
    transform :translate(0vw, 0vw)
}
.cloud1,.cloud{
    width: 101vw;
    bottom: 0;
    filter: sepia(1);
}

#idbg{
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: row;
    z-index: 2;
    bottom: 2vw;
    transform :translate(0vw, 0vw)
}
#runway{
    position: absolute;
    width: max-content;
    display: flex;
    flex-direction: row;
    bottom: -1vw;
    z-index: 3;
    transform :translate(0vw, 0vw)
}
#runway a{
    width: 100vw;
}
#bg1{
    width: 100vw;
    bottom: 0;
}
#bg{
    width: 100vw;
    bottom: 0;
}
#g1{
    position: absolute;
    z-index: 2;
    bottom: 0vw;
    width: 101vw;
    bottom: 0;
}
#g{
    position: absolute;
    z-index: 2;
    bottom: 0vw;
    width: 101vw;

}
#cac1{
    position: absolute;
    z-index: 2;
    bottom: 8vw;
    width: 100vw;

}
#cac{
    position: absolute;
    z-index: 2;
    bottom: 8vw;
    width: 100vw;

}
#fog1{
    position: absolute;
    width:102vw;
    z-index: 3;
    bottom: 9vw;
    width: 100vw;

}
#fog{
    position: absolute;
    width:102vw;
    z-index: 3;
    bottom: 9vw;
    width: 100vw;
}

#cacblock1{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 73vw;
}

#cacblock2{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 108vw;
}

#cacblock3{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 278vw;
}
#cacblock4{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 378vw;
}
#cacblock5{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 408vw;
}
#cacblock6{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 658vw;
}
#cacblock7{
    position: absolute;
    z-index: 5;
    bottom: 5.5vw;
    width: 10vw;
    left: 778vw;
}
#character{
    position: absolute;
    bottom: 5.5vw;
    width: 6vw;
    height: 8vw;
    z-index: 5;
    left: 7vw;
    background-image: url('./img/jump/f1.webp');
    background-size: 100% 100%;
    transform :translate(0vw, 0vw)
}

@keyframes down{
    0%{ transform :translate(0vw, -0.5vw);left:4vw;background-image: url(./img/jump/f1.webp)}
    1%{ transform :translate(0vw, -1vw);left:4vw;background-image: url(./img/jump/f3.webp)}
    35%{transform :translate(0vw, -13vw);left:5vw;background-image: url(./img/jump/f3.webp)}
    58%{transform :translate(0vw,-9vw);left:5.6vw;background-image: url(./img/jump/f3.webp)}
    72%{transform :translate(0vw, -2.2vw);left:6.2vw;background-image: url(./img/jump/f4.webp)}
    100%{transform :translate(0vw, -0.5vw);left:7vw;background-image: url(./img/run.gif)}
}
@keyframes rot{
    00%{transform: rotateY(70deg)}
    50%{transform: rotateY(0deg)}
100%{transform: rotateY(-70deg)}
}
.coin{
    position: absolute;
    z-index: 2;
    bottom: 17vw;
    width: 3.5vw;
    animation: rot 2500ms linear infinite;
    box-shadow: 0px 2vw 7vw 4px #ffe500;
    background: #f9d93a38;
    display: block;
    border-radius: 6vw;
    transition: 0.4s;
}
#score{
    position: absolute;
    z-index: 1;
    width: 4vw;
    left: 4vw;
    top: 2.55vw;
    animation: glow 3000ms infinite;
}
#scoreN{
    position: absolute;
    z-index: 1;
    width: 6vw;
    left: 9.5vw;
    font-family: system-ui;
    top: 1.6vw;
    font-size: 3.5vw;
    color: gold;
}
@keyframes glow{
    0%{filter: brightness(1);transform: scale(1);}
    50%{filter: brightness(1.3);transform: scale(1.1)}
    100%{filter: brightness(1);transform: scale(1)}
}
@keyframes bird{
    0%{transform: translate(0vw, -29vw) rotateY(0deg); }
    49%{transform: translate(100vw, -25vw) rotateY(0deg);}
    50%{transform: translate(100vw, -23vw) rotateY(180deg); }
    99%{transform: translate(0vw, -26vw) rotateY(180deg); }
    100%{transform: translate(0vw, -29vw)rotateY(0deg); }
}
#bird{
    position: relative;
    z-index: 3;
    width: 5vw;
    top: -8vw;
    left: 0vw;
    animation: bird 10000ms linear infinite;
}
@keyframes opps{
    0%{    filter: hue-rotate(0deg);}
    100%{    filter: hue-rotate(-60deg);}
}
#up{
    position: absolute;
    width: max-content;
    right: 11.2vw;
    bottom: 2vw;
    backdrop-filter: blur(0.5vw);
    color: azure;
    background-color: #000000c2;
    z-index: 10;
    border-radius: 5vw;
    font-size: 1.8vw;
    font-family: monospace;
    padding: 2vw 4.2vw;
    cursor: pointer;
    box-shadow: 0px 0px 2vw;
    border: 0.3vw solid;
}
#lifeline{
    display: flex;
    position: absolute;
    z-index: 10;
    right: 5vw;
    top: 2vw;
    width: 8vw;
    padding: 0.3vw 1.5vw;
    border: 0.35vw solid #dfdfdf;
    border-radius: 5vw;
    justify-content: space-around;
}
#lifeline img{
    width: 1.6vw;
    height: 1.6vw;
}
#screen{
    width: 100vw;
    height: 100vh;
    background-color: rgb(244 67 54 / 36%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}

#cave2{
    position: absolute;
    width: 19vw;
    z-index: 28;
    right: 2.1vw;
    bottom: 3.2vw;
    transform: skewY(11deg);
}
#cave1{
    position: absolute;
    width: 21vw;
    z-index: 10;
    right: 21vw;
    bottom: 7vw;
    transform: skewY(11deg);
}
@keyframes over{
    50%{transform: translate(0vw, -7vw);}
    100%{transform: translate(0vw,  14vw);}
}
